
.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.f-jcc {
    justify-content: center;
}

.f-aic {
    align-items: center;
}

.f-jsb {
    justify-content: space-between;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.m-lg {
    margin: 2rem;
}

.mt-lg {
    margin-top: 2rem !important;
}